@page
@model MonthlyBillWebApp.Pages.Bills.AnalyseModel
@{
}
<!-- HTML page for Data Analysis -->
<h2>Data Analysis</h2>

<form method="POST">
    <div>
        <label for="data">Amounts:</label>
        <textarea id="data" name="data" rows="10" cols="50"></textarea>
    </div>
    <input type="submit" value="Analyze" class="btn btn-primary" />
</form>